*{
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*for mobile phones*/
[class*="col-"] {
    width: 100%;
}

div.header {
    font-size: 8px;
}

@media only screen and (min-width: 600px) {
    /* for  tablets */
    [class*="col-s-"] {
    float: left;
    padding: 15px;
    }

    div.header {
        font-size: 10px;
    }

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    [class*="col-"] {
        float: left;
        padding: 15px;
    }

    div.header {
        font-size: 30px;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 1600px) {

    div.header {
        font-size: 60px;
    }
}

html {
    font-family: "Times New Roman", serif;
}

.header {
    background-color: #8cc7b4;
    color: #000000;
    padding: 15px;
}


a:link {
    text-decoration: none;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: rgba(255,255,255,0.9);
    border-style: hidden hidden hidden solid;
    border-color: red;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li.current {
    border-style: hidden solid hidden solid;
}

.menu li:hover {
    background-color: lightcoral;
}  

.post h1 {
    background-color: rgba(255,255,255,0.9);
    border-style: solid dotted hidden dotted;
    border-width: 3px 1px 1px 1px;
    border-color: red lightgray lightgray lightgray;
    margin-bottom: -16px;
    padding: 8px;
}

.post p {
    background-color: rgba(255,255,255,0.9);
    text-align: justify;
    border-style: hidden dotted dotted dotted;
    border-width: 1px;
    border-color: lightgray;
    padding: 8px;
}

.backg {
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}

.parallax { 
    /* The image used */
    
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#arrow {
    width: 20vh;
    padding-top: 80vh;
}